<h1>Cookies#show</h1>

<table>
    <tr>
        <td><strong>User Alias:</strong> </td>
        <td><%= @user_alias %></td>
    </tr>
    <tr>
        <td><strong>Client Id:</strong> </td>
        <td><%= @client_id %></td>
    </tr>
</table>